.wrapper {
	width: 480px;
	margin: 0 auto 0 auto;
}

#mainFrame {
	width: 470px;
	height: 470px;
	margin: 0;
	border: 5px solid;
	border-radius: 10px;
}

#roomView {
	position: relative;
	width: 470px;
	height: 450px;
	overflow: hidden;
}

#roomDesc {
	width: 470px;
	height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: monospace;
}

button {
	width: 80px;
	height: 80px;
	margin: 0;
}

img {
	margin: 0;
}

#inventory {
	width: 480px;
	height: 160px;
	line-height: 0;
}

.roomItem {
	position: absolute;
}

.verbIcon {
	height: 70px;
	cursor: pointer;
	border: 5px solid #000;
	border-radius: 10px;
}

.verbIcon.selected {
	border-color: #F00;
}

.verbIcon:hover {
	border-color: #008;
}

.verbIcon.selected:hover {
	border-color: #F08;
}

.hidden {
	display: none;
}

#flavourText {
	width: 470px;
	height: 150px;
	margin: 0;
	border: 5px solid;
	border-radius: 10px;
	overflow-y: scroll;
}

#flavourText p {
	font-size: 14px;
	font-family: monospace;
	margin: 5px;
}